
.projectsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 64px;
    flex-wrap: wrap;
    
    div {
        background-color: var(--gray-800);
        filter: brightness(0.8);
        padding: 90px;
        border-radius: 12px;
    }
}