
.skillsContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .contentContainer {
        width: 80%;
        max-width: 2000px;
        min-height: calc(100dvh - 128px);

        margin: 64px 0;
        
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.37);
        padding: 30px;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 80px;

            margin-top: 128px;
    
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 96px;
                
                width: 80%;

                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    gap: 48px;

                    .skillImages {
                        display: flex;
                        flex-direction: column;
                        span {
                            display: flex;
                            flex-direction: row;
                        }

                        span:not(:first-child) {
                            margin-top: -32px;
                        }
                    }

                    img {
                        z-index: 1;
                        height: 150px;
                    }

                    img:not(:first-child) {
                        margin-left: -64px;
                    }

                    .skillContent {
                        font-size: 1rem;
                        line-height: 28px;

                        &::first-letter {
                            font-size: 4rem;
                            font-weight: bolder;
                        }
                    } 
                }
            }

        }
    }


    
}