
.homeContainer {
    overflow-x: hidden;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    .contentContainer {
        width: 80%;
        height: 90%;

        max-width: 2000px;
        max-height: 2000px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.37);
        padding: 30px;

        .title {
            color: var(--white);
            text-align: center;
            font-weight: 300;
            letter-spacing: 10px;
            
            display: flex;
            flex-direction: column;
            gap: 32px;
    
            span {
                background: linear-gradient(white, #38495a);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: 0.5s;
                cursor: default;
                z-index: 1;
            }

            span:hover {
                filter: brightness(1.5);
            }
    
            span:nth-child(1) {
                font-size: 6rem;
            }
    
            span:nth-child(2) {
                font-size: 3rem;
                opacity: 0.5;
            }
    
            
        }
    }

}


