
.contactContainer {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 128px;
    
    font-size: 2rem;
    font-weight: bolder;

    text-shadow: 0 5px 10px rgba(0, 0, 0, 1);

    div {
        margin: 0 auto;
        width: 900px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 128px;

        padding: 24px 40px;
        border-radius: 12px;


        img {
            height: 200px;
        }

        p {
            font-size: 2.5rem;
        }

        &:hover {
            cursor: pointer;
            backdrop-filter: brightness(1.4);
        }
    }
}

.topShape {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.topShape svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 231px;
}

.topShape .shapeFill {
    fill: #38265e;
}