
:root {
    --white: #ffffff;

    --gray-800: #303030;

    --blue-700: #202731;

    --purple-200: rgb(131, 99, 180);
    --purple-700: rgb(59, 34, 96);
    --purple-800: rgb(24, 11, 44);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blue-700);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}