
:root {
    --white: #ffffff;

    --gray-800: #303030;

    --purple-700: rgb(92, 0, 92);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}