
.navContainer {
    background-color: purple;
    height: 64px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    
    font-weight: bold;
    font-size: 1.2rem;
    
    span {
        transition: opacity 1.2s;
    }


    span:hover {
        opacity: 0.4;
        cursor: pointer;
    }
}